<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="../styles/popupStyles.css">
        <link rel="stylesheet" href="../styles/profileStyles.css">
        <link rel="stylesheet" href="../styles/manageProfileStyles.css">
        <link rel="stylesheet" href="../styles/generalStyles.css">
        <link rel="stylesheet" href="../styles/informationStyles.css">
        <link rel="stylesheet" href="../styles/historyViewStyles.css">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Container Profile Manager</title>
    </head>
    <body>
        
        <!-- Placeholders for dynamically loaded content -->
        <div class="popupMain"id="popupMainId" ></div>    
        <div class="profile-card" id="createProfilePageId" ></div> 
        <div class="informationPage" id="informationPageId"></div>
        <div class="containersListPage" id="containersListPageId"></div>
        <div class="historyPage" id="historyPageId"></div>
        <div class="manageProfiles" id="manageProfilesPageId"></div> 


        <!-- USED SCRIPTS -->
        <script type="module" src="../scripts/mainPopup/popup.js"></script>

    </body>
</html>
